#define ZMK_POINTING_DEFAULT_SCRL_VAL 120    // default: 10

#include <mouse-gesture.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MOUSE 4
#define SCROLL 5
#define NUM 6

/* mouse-gesture の挙動を補完する設定 */

&mouse_gesture_kp {
    tapping-term-ms = <300>;
    quick-tap-ms = <175>;
    flavor = "tap-preferred";
};

/*
&mouse_gesture_mkp {
    tapping-term-ms = <300>;
    quick-tap-ms = <175>;
    flavor = "tap-preferred";
};
*/

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_mb1 {
            bindings = <&mkp MB1>;
            key-positions = <21 22>;
        };

        combo_mb2 {
            bindings = <&mkp MB2>;
            key-positions = <22 23>;
        };

        combo_tab {
            bindings = <&kp TAB>;
            key-positions = <16 15>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        macro_sus: macro_sus {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp INT5 &kp N0 &kp N1 &kp F &kp U &kp N0 &kp N0 &kp N1>;
            label = "MACRO_SUS";
        };

        macro_bsp: macro_bsp {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp INTERNATIONAL_5 &kp N0 &kp N1 &kp F &kp U &kp N0 &kp N0 &kp N2>;
            label = "MACRO_BSP";
        };

        macro_al: macro_al {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp INTERNATIONAL_5 &kp N0 &kp N1 &kp F &kp U &kp N0 &kp N0 &kp N4>;
            label = "MACRO_AL";
        };

        macro_film: macroLfilm {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp INTERNATIONAL_5 &kp N0 &kp N1 &kp F &kp U &kp N0 &kp N0 &kp NUMBER_6>;
            label = "MACROLFILM";
        };

        macro_seal: macro_seal {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp INTERNATIONAL_5 &kp N0 &kp N1 &kp S &kp E &kp N0 &kp N0 &kp N3>;
            label = "MACRO_SEAL";
        };

        macro_acrylic: macro_acrylic {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp INTERNATIONAL_5 &kp N0 &kp N1 &kp A &kp K &kp N0 &kp N0 &kp N1>;
            label = "MACRO_ACRYLIC";
        };

        macro_trans: macro_trans {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp INTERNATIONAL_5 &kp N0 &kp N1 &kp U &kp N &kp N0 &kp N0 &kp N1>;
            label = "MACRO_TRANS";
        };

        macro_mv_uriage: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp INTERNATIONAL_5 &kp LA(U) &kp C>;
            label = "NEW_MACRO";
        };

        macro_mv_jyutyu: macro_jyutyu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp INTERNATIONAL_5 &kp LA(U) &kp B>;
            label = "MACRO_JYUTYU";
        };

        macro_mv_mitumori: macro_mitumori {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp INTERNATIONAL_5 &kp LA(U) &kp A>;
            label = "MACRO_MITUMORI";
        };

        macro_oder_num: macro_oder_num {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp INTERNATIONAL_5 &kp N0 &kp N1 &kp N0 &kp N0 &kp N0 &kp N0 &kp N1>;
            label = "MACRO_ODER_NUM";
        };

        macro_const_num: macro_const_num {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp INTERNATIONAL_5 &kp N0 &kp N1 &kp N0 &kp N0 &kp N0 &kp N0 &kp N2>;
            label = "MACRO_CONST_NUM";
        };

        macro_draw_num: macro_draw_num {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp INTERNATIONAL_5 &kp N0 &kp N1 &kp N0 &kp N0 &kp N0 &kp N0 &kp N7>;
            label = "MACRO_DRAW_NUM";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        ROTATE: ROTATE {
            compatible = "zmk,behavior-sensor-rotate-var";
            label = "ROTATE";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;

            tap-ms = <20>;
        };

        dot_arrow: dot_arrow {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&kp>;
        };

        // シングルタップと長押しを設定

        hold_stap: hold_single_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_SINGLE_TAP";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <300>;
            bindings = <&kp>, <&kp>;
        };

        // シングルタップでint5、ダブルタップでint4、長押しで左alt

        td_alt_int5_4: tap_dance_alt_int5_int4 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_ALT_INT5_INT4";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&hold_stap LALT INT5>, <&kp INT4>;
        };

        // シングルタップでシングルクォート、ダブルタップでダブルクォート、長押しで左shift

        td_sft_sq_dq: tap_dance_singlequote_doublequote {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_SHT_SQ_DQ";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&hold_stap LSHIFT SINGLE_QUOTE>, <&kp DOUBLE_QUOTES>;
        };

        td_bracket: tap_dance_bracket {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_BRACKET";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp LEFT_BRACKET>, <&kp RIGHT_BRACKET>;
        };

        td_par: tap_dance_par {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_PAR";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp LPAR>, <&kp RPAR>;
        };

        td_brace: tap_dance_brace {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_BRACE";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp LEFT_BRACE>, <&kp RIGHT_BRACE>;
        };

        td_exc_pipe: tap_exclametion_pipe {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_EXC_PIPE";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp EXCLAMATION>, <&kp PIPE>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&trans  &mt LEFT_WIN Q  &kp W   &kp E   &kp R           &kp T                                       &kp Y        &kp U                  &kp I      &kp O             &kp P            &trans
&trans  &mt LCTRL A     &kp S   &kp D   &kp F           &kp G        &mkp MCLK     &kp UP_ARROW     &kp H        &mouse_gesture_kp 0 J  &kp K      &lt 5 L           &mt RCTRL MINUS  &trans
&trans  &mt LSHFT Z     &kp X   &kp C   &kp V           &kp B        &kp DELETE    &kp DOWN_ARROW   &kp N        &kp M                  &kp COMMA  &dot_arrow 4 DOT  &mt RSHFT SLASH  &trans
&trans  &trans          &trans  &trans  &td_alt_int5_4  &lt 1 SPACE  &mkp MB1      &lt 3 BACKSPACE  &lt 2 ENTER                                                      &trans           &trans
            >;

            sensor-bindings = <&inc_dec_kp LEFT_ARROW RIGHT_ARROW>;
        };

        FUNCTION-ARROW {
            bindings = <
&trans  &kp F9  &kp F10  &kp F11  &kp F12  &trans                       &kp ESCAPE  &kp HOME           &kp UP_ARROW    &kp END          &kp LG(LC(O))  &trans
&trans  &kp F5  &kp F6   &kp F7   &kp F8   &kp LC(V)  &trans    &trans  &trans      &kp LEFT_ARROW     &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans         &trans
&trans  &kp F1  &kp F2   &kp F3   &kp F4   &kp LC(C)  &trans    &trans  &trans      &kp C_VOLUME_DOWN  &kp K_MUTE      &kp C_VOLUME_UP  &trans         &trans
&trans  &trans  &trans   &trans   &trans   &trans     &trans    &trans  &trans                                                          &trans         &trans
            >;
        };

        NUM {
            bindings = <
&trans  &td_exc_pipe   &kp AMPS   &kp HASH    &td_bracket  &trans                                      &kp EQUAL  &kp KP_N7  &kp KP_N8  &kp KP_N9  &kp EQUAL        &trans
&trans  &kp AT         &kp GRAVE  &kp DOLLAR  &td_par      &kp PERCENT  &trans    &kp INTERNATIONAL_5  &kp KP_N0  &kp KP_N4  &kp KP_N5  &kp KP_N6  &kp PLUS         &trans
&trans  &td_sft_sq_dq  &kp SEMI   &trans      &td_brace    &kp BSLH     &trans    &trans               &kp KP_N0  &kp KP_N1  &kp KP_N2  &kp KP_N3  &mt RSHFT ASTRK  &trans
&trans  &trans         &trans     &trans      &trans       &trans       &trans    &trans               &trans                                      &trans           &trans
            >;
        };

        CUSTOM {
            bindings = <
&trans  &kp LA(NUMBER_1)  &kp LA(NUMBER_2)  &kp LA(NUMBER_3)  &kp LA(NUMBER_4)    &kp LA(N5)                     &trans  &macro_oder_num  &macro_const_num  &macro_draw_num  &trans       &trans
&trans  &trans            &macro_mv_uriage  &macro_mv_jyutyu  &macro_mv_mitumori  &kp LC(INS)  &trans    &trans  &trans  &macro_sus       &macro_bsp        &macro_al        &macro_film  &trans
&trans  &trans            &trans            &trans            &kp LC(B)           &kp LC(DEL)  &trans    &trans  &trans  &macro_trans     &macro_seal       &macro_acrylic   &trans       &trans
&trans  &trans            &trans            &trans            &trans              &trans       &trans    &trans  &trans                                                      &trans       &trans
            >;

            sensor-bindings = <&ROTATE SCRL_DOWN SCRL_UP>;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                          &trans  &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                          &trans  &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans  &trans        &trans        &trans        &trans                       &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans
&trans  &trans  &trans        &trans        &trans        &trans     &trans    &trans  &trans        &trans        &trans        &trans        &bt BT_CLR      &trans
&trans  &trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kt KP_N4  &trans    &trans  &trans        &trans        &trans        &trans        &bt BT_CLR_ALL  &trans
&trans  &trans  &trans        &trans        &trans        &trans     &trans    &trans  &trans                                                  &trans          &trans
            >;
        };

        layer_7 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                          &trans  &trans
            >;
        };
    };
};
